.dropDownPanel {
    background-color: #353542;
    width: 204px;
    border-radius: 10px;
    border: 1px solid rgba(132, 213, 44, 0.1607843137);
    background-image: url('./assets/icons/icon_bcgroundDropDown.svg');
    background-repeat: no-repeat;
    margin-left: 26px;
    margin-top: 1px;
    padding: 0 22px 50px 17px;
    background-position: left;
}